{% extends "base.html" %}

{% block title %}EVENTS{% endblock %}

{% block heading %}
Events
{% endblock %}

{% block content %}

<!-- CREATE / EDIT EVENT FORM -->
<div class="event-creation-container">

  <h2>
    <i class="fa-solid fa-pen"
       style="margin-right: 5px; font-size: 18px; margin-left: 5px"></i>
    Create/Edit Event
  </h2>

  <hr />

  <form method="post">

    <div class="form-container">
      <label>Event Name</label>
      <input type="text" name="eventname"
        value="{{edit_data.name if edit_data else ''}}" required />
    </div>

    <div class="form-container">
      <label>Date</label>
      <input type="date" name="date" min="{{tdate}}"
        value="{{edit_data.date if edit_data else ''}}" required />
    </div>

    <div class="form-container">
      <label>Time</label>
      <input type="time" name="time"
        value="{{edit_data.time if edit_data else ''}}" required />
    </div>

    <div class="form-container">
      <label>Place</label>
      <input type="text" name="place"
        value="{{edit_data.place if edit_data else ''}}" required />
    </div>

    <div class="form-container">
      <label>Customer Name</label>
      <input type="text" name="cust"
        value="{{edit_data.cust if edit_data else ''}}" required />
    </div>
    <div class="form-container">
      <label>End date</label>
      <input type="date" name="cust"
        value="{{edit_data.cust if edit_data else ''}}" required />
    </div>


    <div class="form-container">
      <label>Phone Number</label>
      <input type="tel" name="phone" maxlength="10"
        pattern="[0-9]{10}"
        value="{{edit_data.phone if edit_data else ''}}" required>

      <input type="hidden" name="id"
        value="{{edit_data.id if edit_data else ''}}" />
    </div>

    <div class="form-btn">
      {% if edit_data %}
      <input type="submit" value="Update Event" name="update" />
      {% else %}
      <input type="submit" value="Create Event" name="create" />
      {% endif %}
    </div>

  </form>
</div>


<!-- EVENT LIST -->
<div class="event-upcoming-list">

  <h2>Events List</h2>

  <hr />

  <div class="upcoming-event-table">
    <table>

      <thead>
        <tr>
          <th>Event</th>
          <th>Date</th>
          <th>Time</th>
          <th>Location</th>
          <th>Phone Number</th>
          <th>Customer</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for e in list_data %}
        <tr>
          <td>{{e[1]}}</td>
          <td>{{e[2]}}</td>
          <td>{{e[3]}}</td>
          <td>{{e[4]}}</td>
          <td>{{e[6]}}</td>
          <td>{{e[5]}}</td>

          <td class="action">
            <form method="post">
              <input type="hidden" name="id" value="{{e[0]}}" />
              <input type="hidden" name="eventname" value="{{e[1]}}" />
              <input type="hidden" name="date" value="{{e[2]}}" />
              <input type="hidden" name="time" value="{{e[3]}}" />
              <input type="hidden" name="place" value="{{e[4]}}" />
              <input type="hidden" name="cust" value="{{e[5]}}" />
              <input type="hidden" name="phone" value="{{e[6]}}" />

              <button type="submit" name="edit">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>

              <button type="submit" name="delete"
                onclick="return confirm('Are you sure you want to delete this event?')">
                <i class="fa-solid fa-trash"></i>
              </button>

            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>
</div>

{% endblock %}