{% extends "base.html" %}
 {% block title %}PAYMENTS{% endblock %} 
{% block content %}
<div class="payment-content">
    <div class="payments-table-container">
        <h2>payments</h2>
        <hr>
            <table>
                <thead>
                    <tr>
                        <td>Event Name</td>
                        <td>Date</td>
                        <td>Place</td>
                        <td>Total Bill Amount</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for e in events %}
                    <tr>
                        <td>{{e[1]}}</td>
                        <td>{{e[2]}}</td>
                        <td>{{e[4]}}</td>
                        <td>
                           
                        {% for t in totals %}
                        {% if t[0]==e[0] %}
                        ${{t[1] if t[1] else 0}}
                        
                        {% endif %}
                        {% endfor %}
                        </td>
                        <td style="text-align: center;"><a href="/bill/{{e[0]}}" target="_blank"><button>Generate Bill</button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        
    </div>
</div>
{% endblock %}